.drop {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 40px;
	border-radius: 12px;
	background: white;
	padding: 12px 0px;
	width: 100%;
}

.inputSearch {
	width: 20vw;
	height: 3vh;
	background: rgba(0, 0, 0, 0.07);
	border: none;
	border-radius: 25px;
	text-align: center;
	padding: 10px;
}


