.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.searchBox {
	display: flex;
	position: fixed;
	justify-content: space-between;
	width: 23vw;
	top: 43%;
	background: #00000012;
	padding: 0.5%;
	border-radius: 25px;
}

.dropDown {
	box-shadow: #0000003d 0px 10px 40px;
	border-radius: 12px;
	background: #ffffff;
	padding: 0.5% 0%;
	width: 24vw;
	margin-top: 1%;
	position: fixed;
	top: 46%;
}

.inputSearch {
	flex-grow: 1;
	border: none;
	text-align: center;
	background: rgba(0, 0, 0, -0.93);

	&:focus {
		outline: none;
	}
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5%;

	&.search {
		border-radius: 25px 0px 0px 25px;
	}

	&.clear {
		border-radius: 0px 25px 25px 0px;
		opacity: 0.8;
		cursor: pointer;
	}
}

.animatedIcon {
	opacity: 0.3;
	&.spinner{
		height: 16px;
	}
}