.search-results {
	position: fixed;
	bottom: 50px;
	left: 70px;
	background-color: #ffffff;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 5px;

	li {
		width: 500px;
		padding: 10px;
	}

	ul:hover {
		background-color: #d1d1d170;
	}

	ul {
		margin: 0px;
		cursor: pointer;
	}
}